h1 {
    color: red;
    font-family: "Arial";
    text-align: center;
    background-color: blue; 
}

h1 span {
    color: red;
    }

body {
    background-color: black;
    color: white;
}


/* top TABS STUFF */
ul.toptabs {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #666666;
    width: 98.7%;
}

/* Float the list items side by side */
ul.toptabs li {float: left;}

/* Style the links inside the list items */
ul.toptabs li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.toptabs li a:hover {background-color: #ddd;}

#active {
    background-color: #333333;
}



/* side TABS STUFF */
ul.sidetabs {
    position: fixed;
    list-style-type: none;
    margin: 10;
    padding: 0;
    float: left;
    top: 130px;
    background-color: #666666;
    
	
}

/* Float the list items side by side */
ul.sidetabs li {float: clear;}

/* Style the links inside the list items */
ul.sidetabs li a {
    display: inline-block;
    color: red;
    text-align: left;
    padding: 5px 16px;
    text-decoration: none;
	width: 75px;
	background-color: #666666;
    transition: 0.3s;
    font-size: 14px;
}

/* Change background color of links on hover */
ul.sidetabs li a:hover {
    background-color: #ddd;
    width: 75px;
    text-align: left;
    }

#active {
    background-color: #333333;
}



/*Content stuff*/
div.content {
    position: relative;
    top: 60px;
}

div.has-sidebar {
    left: 125px;
}