h1 {
    color: red;
    font-family: "Arial";
    text-align: center;
    background-color: blue; 
}

h1 span {
    color: red;
    }

body {
    background-color: black;
    color: white;
}

div.content {
    position: absolute;
    top: 125px;
    left: 215px;
}


/* top TABS STUFF */
ul.toptabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #666666;
   
    /*list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #666666;*/
}

/* Float the list items side by side */
ul.toptabs li {float: left;}

/* Style the links inside the list items */
ul.toptabs li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.toptabs li a:hover {background-color: #ddd;}

#active {
    background-color: #333333;
}



/* side TABS STUFF */
ul.sidetabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #666666;
    width: 125px;
}

/* Float the list items side by side */
ul.sidetabs li {float: clear;}

/* Style the links inside the list items */
ul.sidetabs li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.sidetabs li a:hover {background-color: #ddd;}

#active {
    background-color: #333333;
}